/*web*/
.kv-first-container {
  margin: 150px 0;
  padding: 0 15px;
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kv-first-container-mobile {
  display: none;
}

.kv-slogan {
  color: black;
  font-family: "GangwonEduPower";
  font-size: 68px;
  width: 790px;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 85px;
}

.kv-slogan span {
  color: #000000;
  position: relative;
}

.kv-slogan .sloganText1 {
  position: relative;
  display: inline-block;
  text-decoration: underline #d9d9d9;
  text-underline-offset: 10px;
}

.kv-slogan .sloganText2 {
  color: #004098;
  position: relative;
}

@media screen and (max-width: 991px) {
  .kv-first-container-mobile {
    display: none; /* 991px 이하에서 숨김 */
  }
  .kv-first-container {
    display: flex;
    margin: 150px 0;
    padding: 0 15px;
  }

  .kv-slogan {
    font-size: 60px;
    width: 100%;
    line-height: 70px;
  }
}

@media screen and (max-width: 767px) {
  .kv-first-container-mobile {
    display: none;
  }
  .kv-first-container {
    width: 100%; /* Make container width responsive */
    height: auto;
    margin: 80px 0; /* Adjusted margin for more balanced spacing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Added padding for better spacing */
    box-sizing: border-box; /* Ensure padding does not affect width */
  }

  .kv-slogan {
    line-height: 59px;
    color: black;
    font-family: "GangwonEduPower";
    font-size: 40px; /* Adjusted font size for readability */
    width: 90%; /* Make width responsive */
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center; /* Center text for smaller screens */
    margin-bottom: 30px; /* Added margin for spacing */
  }

  .kv-slogan span {
    color: #000000;
    position: relative;
    display: inline-block;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  .kv-slogan .sloganText2 {
    color: #004098;
    position: relative;
    display: inline-block;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
}

@media screen and (max-width: 497px) {
  .kv-first-container {
    display: none;
  }

  .kv-first-container-mobile {
    display: flex; /* 497px 이하에서 보이기 */
  }
  .kv-first-container-mobile {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    box-sizing: border-box;
    position: relative;
  }

  .kv-slogan-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
  }
  .sloganText2-mobile,
  .sloganText-mobile {
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: "GangwonEduPower";
    position: relative;
  }

  .sloganText-mobile span {
    font-size: 24px;
    color: #004098;
    position: relative;
    display: inline-block;
  }

  .sloganText2-mobile .sloganText1 {
    font-size: 24px;
    color: #000000;
    position: relative;
    display: inline-block;
    text-decoration: underline #d9d9d9;
    text-underline-offset: 10px;
  }

  .sloganText2-mobile span {
    font-size: 24px;
    color: #004098;
    position: relative;
    display: inline-block;
  }
}

/** 버튼 디자인 **/
.kv-first-button {
  width: 13em;
  height: 50px;
  background-color: #004098;
  color: #fff;
  font-family: "SUIT Variable";
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin-top: 120px;
}
.kv-first-button:hover {
  background-color: #a3c7ff;
  color: #fefff5;
}

.kv-first-button:active {
  background-color: #a3c7ff;
  color: #004098;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);
}
/* 반응형 */
@media screen and (max-width: 991px) {
  .kv-first-button {
    font-size: 20px;
    line-height: 55px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .kv-first-button {
    height: 45px;
    font-size: 20px;
    line-height: 55px;
    margin-top: 55px;
  }
}

@media screen and (max-width: 497px) {
  .kv-first-button {
    display: none;
  }
  .kv-first-button-mobile {
    color: #fff;
    background: #004098;
    text-align: center;
    border-radius: 50px;
    width: 11em;
    height: 35px;
    font-size: 15px;
    line-height: 38px;
    margin-top: 50px;
  }
}
