.kv-title-blue {
  background: linear-gradient(90deg, #004098 0%, #000000 100%);
  -webkit-background-clip: text; /* 웹킷 기반 브라우저에서 텍스트에 그라디언트를 적용 */
  background-clip: text; /* 텍스트에 그라디언트를 적용 */
  color: transparent; /* 텍스트 색상을 투명하게 설정 */
  display: inline-block; /* 텍스트가 인라인 블록으로 표시되도록 설정 */
  text-shadow: 0px 4px 3.5px rgba(0, 0, 0, 0.25); /* 텍스트 그림자 설정 */
  font-size: 2.2rem;
  font-family: "GangwonEduPower";
  padding-top: 6px; /* 강원에듀파워 글자 하단 여백 줄이기용*/
  margin-bottom: 120px;
}

.kv-eighth-mobile-box {
  display: none;
}
.kv-button-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .kv-title-blue {
    font-size: 2.1rem;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 767px) {
  .kv-container {
    margin: 80px 0;
  }

  .kv-title-blue {
    font-size: 1.6rem;
    margin-bottom: 55px;
  }

  .kv-eighth-mobile-box {
    display: flex;
  }

  .kv-eighth-desktop-box {
    display: none;
  }
}

@media screen and (max-width: 497px) {
  .kv-button-mobile {
    color: #fff;
    background: #004098;
    text-align: center;
    border-radius: 50px;
    width: 220px;
    height: 35px;
    font-size: 15px;
    line-height: 38px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kv-button {
    display: none;
  }
}
